@import 'zvijude/style.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --sideWid: 16rem;
  --navHit: 2.5rem;
  --bgClr: #fff;
  /* theme(colors.blue.50); #f6faff; */
  --mainClr: theme(colors.blue.700);
}

html {
  scroll-behavior: smooth;
}

.grid_fill {
  --size: 200px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(min(var(--size), 100%), 1fr));
}

body {
  @apply text-base text-slate-900 bg-slate-100;
  /* background-color: #ddd; */
}

.sideWid {
  margin-right: var(--sideWid);
}

@keyframes fadeScaleIn {
  from {
    opacity: 0;
    scale: 0.9;
  }
  to {
    opacity: 1;
    scale: 1;
  }
}
@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateY(100%);
  }
  to {
    opacity: 1;
    transform: translateY(0%);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.wrap {
  @apply sm:m-8 mx-8 my-6;
}

@layer components {
  .paper {
    @apply p-6 block rounded-md bg-white shadow-1 dark:bg-slate-900;
  }

  .boxbtn {
    @apply flex items-center justify-center w-40 h-36 p-4 rounded-md bg-white shadow-1 transition-shadow hover:shadow-md active:shadow-none dark:bg-slate-900;
    > div {
      @apply grid justify-items-center gap-4;
      p {
        @apply font-semibold text-center;
      }
    }
  }

  .proj-btn {
    @apply flex items-center justify-center w-40 h-36 p-4 rounded-md bg-white shadow transition-shadow hover:shadow-md active:shadow-none;
    > div {
      @apply grid justify-items-center gap-4;
      p {
        @apply font-semibold text-center;
      }
    }
  }

  .paper-s {
    @apply p-6 block rounded-md bg-white shadow;
    min-width: 400px;
  }

  .border,
  .border-r,
  .border-l,
  .border-t,
  .border-b,
  .border-x,
  .border-y {
    @apply dark:border-slate-500;
  }

  .nav {
    @apply bg-blue-950 h-screen fixed top-0 right-0;
    z-index: 9999;
    max-width: 50px;
    transition: max-width 0.5s;
    overflow: hidden;
    &:hover {
      max-width: 200px;
    }
  }

  /* .nav {
    @apply h-10 border-b flex gap-0 fixed z-50 w-full bg-white dark:bg-slate-950;
  } */

  .navLink {
    @apply flex h-full px-6;
  }

  .baseBtn {
    @apply flex h-10 min-w-fit justify-center gap-3 rounded-md px-4 font-semibold transition-shadow hover:shadow-md active:shadow-none disabled:pointer-events-none disabled:opacity-50;
  }

  .btn {
    @apply baseBtn bg-blue-800 text-white;
  }

  .btn-s {
    @apply baseBtn h-11 bg-blue-800 px-5 text-white;
  }

  .softBtn {
    @apply baseBtn bg-blue-100 text-blue-800;
    > div {
      @apply bg-blue-800;
    }
  }

  .softBtn-s {
    @apply baseBtn h-11 bg-blue-100 px-5 text-blue-800;
    > div {
      @apply size-4 bg-blue-800;
    }
  }
  .softBtn-s-g {
    @apply baseBtn h-11 bg-green-100 px-5 text-green-800;
    > div {
      @apply size-4 bg-green-800;
    }
  }
  .softBtn-s-r {
    @apply baseBtn h-11 bg-red-100 px-5 text-red-800;
    > div {
      @apply size-4 bg-red-800;
    }
  }

  .simpleBtn-xs {
    @apply baseBtn h-9 px-4 font-normal border-0 shadow text-slate-600 transition-colors duration-200;
    > div {
      @apply size-3.5 bg-slate-600;
    }
  }

  .softBtn-xs {
    @apply baseBtn h-9 px-4 font-normal bg-blue-100/50  text-blue-700;
    > div {
      @apply size-3.5 bg-blue-700;
    }
  }
  .softBtn-xs-g {
    @apply baseBtn h-9 px-4 font-normal bg-green-100/50  text-green-700;
    > div {
      @apply size-3.5 bg-green-700;
    }
  }
  .softBtn-xs-r {
    @apply baseBtn h-9 px-4 font-normal bg-red-100/50  text-red-700;
    > div {
      @apply size-3.5 bg-red-700;
    }
  }

  .simple-btn {
    @apply flex gap-2 text-gray-500 border border-gray-400 py-2 px-3 rounded-md transition-shadow hover:shadow-md active:shadow-none disabled:pointer-events-none disabled:opacity-50;
    > div {
      @apply bg-slate-500;
    }
  }

  .input {
    @apply block;
    input,
    textarea {
      @apply h-10 w-full rounded-md border  bg-white px-4 focus:outline-blue-200;
    }
    textarea {
      @apply min-h-24 p-4;
    }
    > p {
      @apply mb-1;
    }
    > div {
      @apply mb-1 flex justify-between gap-0;
      span {
        @apply text-sm text-gray-500;
      }
    }

    .iconMask {
      @apply size-3;
    }
  }

  .slct {
    select {
      @apply h-10 w-full rounded-md border bg-white px-3 focus:outline-blue-200;
    }

    > div {
      @apply flex justify-between mb-1 gap-0;
      a {
        @apply text-sm text-blue-500 underline;
      }
    }
  }

  .check {
    @apply flex gap-1.5 cursor-pointer;
    input {
      @apply size-4;
    }
  }

  .text-balance {
    text-wrap: balance;
  }
  .grid-1fr-auto {
    display: grid;
    grid-template-columns: 1fr auto;
  }

  .underline {
    @apply underline-offset-4;
  }
}

@media print {
  @page {
    size: 50cm 50cm;
    margin: 0;
    padding: 0;
  }
}

/* Google Translate */
.skiptranslate {
  display: none;
  color: white !important;
}

/* Hide Google Tollbar */
.translated-ltr,
.translated-rtl {
  margin-top: -40px;
}

/* Hide Google Logo  */
.VIpgJd-ZVi9od-l4eHX-hSRGPd {
  display: none;
}

.goog-te-gadget {
  display: block;
}

/* Select Language */
.goog-te-combo {
  color: black !important;
  @apply h-10 w-full rounded-md border border-slate-200 bg-white ps-2 pe-8 focus:outline-blue-200;
  background-position: 94% 54%;
}

/* Google Translate Finish */

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
